<!-- PRELOADER SPINNER
		============================================= -->
<div id="loader-wrapper">
  <div id="loading">
    <span class="cssload-loader">
      <span class="cssload-loader-inner"></span>
    </span>
  </div>
</div>
<!-- PAGE CONTENT
		============================================= -->
<div id="page" class="page">
  <!-- HEADER
			============================================= -->
  <app-header-container></app-header-container>
  <!-- END HEADER -->
  <!-- HERO-3
			============================================= -->
  <app-section-1></app-section-1>
  <!-- END HERO-3 -->
  <!-- CONTENT-1
			============================================= -->
  <app-content-1></app-content-1>
  <!-- END CONTENT-1 -->
  <!-- FEATURES-7
			============================================= -->
  <app-jelpy-benefits></app-jelpy-benefits>
  <!-- END FEATURES-7 -->
  <!-- FEATURES-4
			============================================= -->
  <app-features></app-features>
  <!-- END FEATURES-4 -->
  <!-- CONTENT-5
			============================================= -->
  <app-how-does-it-work></app-how-does-it-work>
  <!-- END CONTENT-5 -->
  <!-- CONTENT-9
			============================================= -->
  <app-intro-video></app-intro-video>
  <!-- END CONTENT-9 -->
  <!-- FEATURES-6
			============================================= -->
  <app-jelpy-benefits-2></app-jelpy-benefits-2>
  <!-- END FEATURES-6 -->
  <!-- CONTENT-2
			============================================= -->
  <app-content-2></app-content-2>
  <!-- END CONTENT-2 -->
  <!-- BRANDS-2
			============================================= -->
  <app-brands></app-brands>
  <!-- END BRANDS-2 -->
  <!-- FAQs-1
			============================================= -->
  <app-faq></app-faq>
  <!-- END FAQs-1 -->
  <!-- CONTENT-10
			============================================= -->
  <app-content-3></app-content-3>
  <!-- END CONTENT-10 -->
  <!-- TESTIMONIALS-2
			============================================= -->
  <app-reviews></app-reviews>
  <!-- END TESTIMONIALS-2 -->
  <!-- DOWNLOAD-6
			============================================= -->
  <app-contact-us></app-contact-us>
  <!-- END DOWNLOAD-6 -->
  <!-- FOOTER-5
			============================================= -->
  <app-footer-container></app-footer-container>
  <!-- END FOOTER-5 -->
</div>
<!-- END PAGE CONTENT -->
