<section id="hero-3" class="hero-section">
  <div class="bg-scroll bg-inner division">
    <!-- HERO CONTENT -->
    <div class="container">
      <div class="row d-flex align-items-center m-row">
        <!-- HERO IMAGE -->
        <div class="col-md-5 col-lg-6 m-bottom">
          <div class="hero-3-img wow fadeInRight" data-wow-delay="0.4s">
            <img class="img-fluid" src="images/logo-mapa-jelpy.png" alt="hero-image" />
          </div>
        </div>

        <!-- HERO TEXT -->
        <div class="col-md-7 col-lg-6 m-top">
          <div class="hero-3-txt pc-30 white-color wow fadeInLeft" data-wow-delay="0.6s">
            <!-- HERO APP LOGO -->
            <div class="smart-hero-logo">
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid"
                  src="images/logo-jelpy.png"
                  width="500"
                  height="500"
                  alt="hero-app-logo"
                />
              </div>
            </div>

            <!-- Title -->
            <h4 class="h4-lg" style="color: black">
              Tu asistente inteligente local
              <br />
              Conoce más sobre Jelpy
            </h4>

            <!-- STORE BADGES -->
            <div class="stores-badge">
              <!-- AppStore -->
              <a href="#" class="store">
                <img class="appstore-original" src="images/appstore.png" alt="appstore-badge" />
              </a>

              <!-- Google Play -->
              <a href="#" class="store">
                <img
                  class="googleplay-original"
                  src="images/googleplay.png"
                  alt="googleplay-badge"
                />
              </a>

              <!-- Aamazon Market 
										<a href="#" class="store">
											<img class="amazon-original" src="images/amazon.png" alt="amazon-badge" />
										</a>  -->

              <!-- Mac AppStore 
										<a href="#" class="store">
											<img class="mac-appstore" src="images/macstore.png" alt="macstore-badge" />
										</a> -->

              <!-- Microsoft Store  
										<a href="#" class="store">
											<img class="microsoft-original" src="images/microsoft.png" alt="microsoft-badge" />
										</a> -->
            </div>
            <!-- END STORE BADGES -->

            <!-- OS Prerequisite -->
          </div>
        </div>
        <!-- END HERO TEXT -->
      </div>
      <!-- End row -->
    </div>
    <!--END HERO CONTENT -->

    <!-- SECTION OVERLAY -->
    <div class="bg-fixed white-overlay-bottom"></div>
  </div>
  <!-- End Inner Content -->
</section>
