<section id="features-4" class="bg-lightgrey wide-60 features-section division">
  <div class="container">
    <!-- FEATURES-4 HOLDER -->
    <div class="fbox-4-holder pc-05">
      <div class="row">
        <!-- FEATURE BOX #1 -->
        <div class="col-md-6">
          <div class="fbox-4 mb-40 d-flex align-items-center wow fadeInUp" data-wow-delay="0.4s">
            <!-- Icon -->
            <div class="fbox-4-ico grey-color ico-60"><span class="flaticon-user-2"></span></div>

            <!-- Text -->
            <div class="fbox-4-txt grey-color">
              <h5 class="h5-sm">Encuentra servicios cerca de ti.</h5>
            </div>
          </div>
        </div>

        <!-- FEATURE BOX #2 -->
        <div class="col-md-6">
          <div class="fbox-4 mb-40 d-flex align-items-center wow fadeInUp" data-wow-delay="0.6s">
            <!-- Icon -->
            <div class="fbox-4-ico grey-color ico-60">
              <span class="flaticon-adjust-3"></span>
            </div>

            <!-- Text -->
            <div class="fbox-4-txt grey-color">
              <h5 class="h5-sm">
                Sapien a gravida donec and impedit at nihil ligula justo integer
              </h5>
            </div>
          </div>
        </div>

        <!-- FEATURE BOX #3 -->
        <div class="col-md-6">
          <div class="fbox-4 mb-40 d-flex align-items-center wow fadeInUp" data-wow-delay="0.8s">
            <!-- Icon -->
            <div class="fbox-4-ico grey-color ico-60"><span class="flaticon-block"></span></div>

            <!-- Text -->
            <div class="fbox-4-txt grey-color">
              <h5 class="h5-sm">Información clara y actualizada.</h5>
            </div>
          </div>
        </div>

        <!-- FEATURE BOX #4 -->
        <div class="col-md-6">
          <div class="fbox-4 mb-40 d-flex align-items-center wow fadeInUp" data-wow-delay="1s">
            <!-- Icon -->
            <div class="fbox-4-ico grey-color ico-60">
              <span class="flaticon-harddisk"></span>
            </div>

            <!-- Text -->
            <div class="fbox-4-txt grey-color">
              <h5 class="h5-sm">Gravida donec and ipsum pretium porta</h5>
            </div>
          </div>
        </div>

        <!-- FEATURE BOX #5 -->
        <div class="col-md-6">
          <div class="fbox-4 mb-40 d-flex align-items-center wow fadeInUp" data-wow-delay="1.2s">
            <!-- Icon -->
            <div class="fbox-4-ico grey-color ico-60"><span class="flaticon-wallet"></span></div>

            <!-- Text -->
            <div class="fbox-4-txt grey-color">
              <h5 class="h5-sm">Tecnología cercana, no invasiva</h5>
            </div>
          </div>
        </div>

        <!-- FEATURE BOX #6 -->
        <div class="col-md-6">
          <div class="fbox-4 mb-40 d-flex align-items-center wow fadeInUp" data-wow-delay="1.4s">
            <!-- Icon -->
            <div class="fbox-4-ico grey-color ico-60"><span class="flaticon-list"></span></div>

            <!-- Text -->
            <div class="fbox-4-txt grey-color">
              <h5 class="h5-sm">
                Blandit undo tempor sapien gravida donec at ipsum a porta tempor
              </h5>
            </div>
          </div>
        </div>

        <!-- FEATURE BOX #7 -->
        <div class="col-md-6">
          <div class="fbox-4 mb-40 d-flex align-items-center wow fadeInUp" data-wow-delay="1.6s">
            <!-- Icon -->
            <div class="fbox-4-ico grey-color ico-60">
              <span class="flaticon-notification"></span>
            </div>

            <!-- Text -->
            <div class="fbox-4-txt grey-color">
              <h5 class="h5-sm">Atención personalizada con tu asistente digital con IA</h5>
            </div>
          </div>
        </div>

        <!-- FEATURE BOX #8 -->
        <div class="col-md-6">
          <div class="fbox-4 mb-40 d-flex align-items-center wow fadeInUp" data-wow-delay="1.8s">
            <!-- Icon -->
            <div class="fbox-4-ico grey-color ico-60">
              <span class="flaticon-internet"></span>
            </div>

            <!-- Text -->
            <div class="fbox-4-txt grey-color">
              <h5 class="h5-sm">
                Dolores donec ipsum pretium 24/7 porta donec and ipsum pretium justo
              </h5>
            </div>
          </div>
        </div>
      </div>
      <!-- End row -->
    </div>
    <!-- END FEATURES-4 HOLDER -->
  </div>
  <!-- End container -->
</section>
