<section id="reviews-2" class="wide-100 reviews-section division">
  <div class="container">
    <!-- SECTION TITLE -->
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="section-title mb-80">
          <!-- Title 	-->
          <h2 class="h2-xs deepblue-color">Customers About Novaro</h2>

          <!-- Text -->
          <p class="p-xl">
            Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus,
            blandit and cursus varius magna
          </p>
        </div>
      </div>
    </div>

    <!-- TESTIMONIALS CONTENT -->
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel owl-theme reviews-holder">
          <!-- TESTIMONIAL #1 -->
          <div class="review-2">
            <!-- App Rating -->
            <div class="app-rating yellow-color">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <!-- Title -->
            <h5 class="h5-md deepblue-color">Great Flexibility!</h5>

            <!-- Testimonial Text -->
            <div class="review-2-txt">
              <!-- Text -->
              <p class="p-md grey-color">
                Etiam sapien sem at sagittis congue an augue massa varius egestas undo suscipit
                magna tempus undo aliquet
              </p>

              <!-- Testimonial Author -->
              <h5 class="h5-xs deepblue-color">- Scott Boxer</h5>
            </div>
          </div>
          <!-- END TESTIMONIAL #1 -->

          <!-- TESTIMONIAL #2 -->
          <div class="review-2">
            <!-- App Rating -->
            <div class="app-rating yellow-color">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>

            <!-- Title -->
            <h5 class="h5-md deepblue-color">Simple and Useful!</h5>

            <!-- Testimonial Text -->
            <div class="review-2-txt">
              <!-- Text -->
              <p class="p-md grey-color">
                At sagittis congue augue undo egestas magna ipsum vitae purus and ipsum primis
                suscipit
              </p>

              <!-- Testimonial Author -->
              <h5 class="h5-xs deepblue-color">- Wendy T.</h5>
            </div>
          </div>
          <!-- END TESTIMONIAL #2 -->

          <!-- TESTIMONIAL #3 -->
          <div class="review-2">
            <!-- App Rating -->
            <div class="app-rating yellow-color">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <!-- Title -->
            <h5 class="h5-md deepblue-color">I love this App!</h5>

            <!-- Testimonial Text -->
            <div class="review-2-txt">
              <!-- Text -->
              <p class="p-md grey-color">
                Mauris donec ociis magnis and sapien etiam sapien congue undo augue pretium and
                ligula augue a lectus aenean magna
              </p>

              <!-- Testimonial Author -->
              <h5 class="h5-xs deepblue-color">- pebz13</h5>
            </div>
          </div>
          <!-- END TESTIMONIAL #3 -->

          <!-- TESTIMONIAL #4 -->
          <div class="review-2">
            <!-- App Rating -->
            <div class="app-rating yellow-color">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <!-- Title -->
            <h5 class="h5-md deepblue-color">Best App for iOS!</h5>

            <!-- Testimonial Text -->
            <div class="review-2-txt">
              <!-- Text -->
              <p class="p-md grey-color">
                An augue in cubilia laoreet magna and suscipit egestas magna ipsum purus ipsum and
                suscipit
              </p>

              <!-- Testimonial Author -->
              <h5 class="h5-xs deepblue-color">- Scott Boxer</h5>
            </div>
          </div>
          <!-- END TESTIMONIAL #4 -->

          <!-- TESTIMONIAL #5 -->
          <div class="review-2">
            <!-- App Rating -->
            <div class="app-rating yellow-color">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>

            <!-- Title -->
            <h5 class="h5-md deepblue-color">Awesome Design!</h5>

            <!-- Testimonial Text -->
            <div class="review-2-txt">
              <!-- Text -->
              <p class="p-md grey-color">
                Mauris donec magnis sapien undo etiam sapien and congue augue egestas ultrice a
                vitae purus velna integer tempor congue
              </p>

              <!-- Testimonial Author -->
              <h5 class="h5-xs deepblue-color">- John Sweet</h5>
            </div>
          </div>
          <!-- END TESTIMONIAL #5 -->

          <!-- TESTIMONIAL #6 -->
          <div class="review-2">
            <!-- App Rating -->
            <div class="app-rating yellow-color">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <!-- Title -->
            <h5 class="h5-md deepblue-color">Simply Amazing App!</h5>

            <!-- Testimonial Text -->
            <div class="review-2-txt">
              <!-- Text -->
              <p class="p-md grey-color">
                An augue cubilia laoreet undo magna a suscipit undo egestas magna ipsum ligula vitae
                purus ipsum primis cubilia blandit
              </p>

              <!-- Testimonial Author -->
              <h5 class="h5-xs deepblue-color">- Leslie D.</h5>
            </div>
          </div>
          <!-- END TESTIMONIAL #6 -->

          <!-- TESTIMONIAL #7 -->
          <div class="review-2">
            <!-- App Rating -->
            <div class="app-rating yellow-color">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>

            <!-- Title -->
            <h5 class="h5-md deepblue-color">Powerful Features!</h5>

            <!-- Testimonial Text -->
            <div class="review-2-txt">
              <!-- Text -->
              <p class="p-md grey-color">
                Augue egestas volutpat and egestas augue in cubilia laoreet magna undo suscipit
                luctus
              </p>

              <!-- Testimonial Author -->
              <h5 class="h5-xs deepblue-color">- Marisol19</h5>
            </div>
          </div>
          <!-- END TESTIMONIAL #7 -->

          <!-- TESTIMONIAL #8 -->
          <div class="review-2">
            <!-- App Rating -->
            <div class="app-rating yellow-color">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <!-- Title -->
            <h5 class="h5-md deepblue-color">Super Support!</h5>

            <!-- Testimonial Text -->
            <div class="review-2-txt">
              <!-- Text -->
              <p class="p-md grey-color">
                Aliquam augue suscipit luctus neque purus ipsum neque dolor primis libero tempus at
                blandit posuere varius magna
              </p>

              <!-- Testimonial Author -->
              <h5 class="h5-xs deepblue-color">- AJ</h5>
            </div>
          </div>
          <!-- END TESTIMONIAL #8 -->
        </div>
      </div>
    </div>
    <!-- END TESTIMONIALS CONTENT -->
  </div>
  <!-- End container -->
</section>
