<section id="content-9" class="content-section division">
  <!-- SECTION TITLE -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="section-title mb-80">
          <!-- Title 	-->
          <h2 class="h2-xs deepblue-color">Smart & Secure Mobile Banking</h2>

          <!-- Text -->
          <p class="p-xl">
            Aliquam a augue suscipit, luctus neque purus ipsum neque at dolor primis libero tempus,
            blandit and cursus varius magna
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION TITLE -->

  <!-- IMAGE BLOCK -->
  <div class="bg-inner bg-01 division">
    <div class="container white-color">
      <div class="row">
        <div class="col-md-12">
          <div class="img-block">
            <div class="video-preview">
              <!-- Change the link HERE!!! -->
              <a class="video-popup2" href="https://www.youtube.com/watch?v=7e90gBu4pas">
                <!-- Play Icon -->
                <div class="video-btn play-icon-red">
                  <div class="video-block-wrapper"><i class="fas fa-play"></i></div>
                </div>

                <!-- Preview Image -->
                <img class="img-fluid" src="images/tablet.png" alt="content-image" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
