<section id="download-6" class="bg-lightgrey download-section division">
  <div class="container">
    <div class="row">
      <!-- DOWNLOAD TXT -->
      <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        <div class="download-6-txt text-center">
          <!-- Title -->
          <h4 class="h4-md deepblue-color">
            Have questions? Reach out to us at yourdomain@mail.com
          </h4>

          <!-- Buttons Group -->
          <div class="btns-group">
            <a href="contacts.html" class="btn btn-md btn-blue blue-hover">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
