<footer id="footer-5" class="wide-30 footer division">
  <div class="container">
    <!-- FOOTER-5 CONTENT -->
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <!-- FOOTER LINKS -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="footer-links mb-40">
              <!-- Title -->
              <h5 class="h5-sm deepblue-color">Novaro</h5>

              <!-- Footer List -->
              <ul class="foo-links grey-color clearfix">
                <li><a href="#">App Features</a></li>
                <li><a href="#">Integrations</a></li>
                <li><a href="#">App Updates</a></li>
                <li><a href="#">Customer Stories</a></li>
              </ul>
            </div>
          </div>

          <!-- FOOTER LINKS -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="footer-links mb-40">
              <!-- Title -->
              <h5 class="h5-sm deepblue-color">Community</h5>

              <!-- Footer Links -->
              <ul class="foo-links grey-color clearfix">
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">Customer Stories</a></li>
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">Life Chatting</a></li>
              </ul>
            </div>
          </div>

          <!-- FOOTER LINKS -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="footer-links mb-40">
              <!-- Title -->
              <h5 class="h5-sm deepblue-color">Company</h5>

              <!-- Footer Links -->
              <ul class="foo-links grey-color clearfix">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Press & Media</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Terms & Privacy</a></li>
              </ul>
            </div>
          </div>

          <!-- FOOTER STORE BADGES -->
          <div class="col-sm-6 col-md-8 col-lg-3">
            <div class="footer-store-badges text-right mb-40">
              <!-- AppStore -->
              <a href="#" class="store">
                <img class="appstore-original" src="images/appstore.png" alt="appstore-badge" />
              </a>

              <!-- Google Play -->
              <a href="#" class="store">
                <img
                  class="googleplay-original"
                  src="images/googleplay.png"
                  alt="googleplay-badge"
                />
              </a>

              <!-- Aamazon Market 
										<a href="#" class="store">
											<img class="amazon-original" src="images/amazon.png" alt="amazon-badge" />
										</a>  -->

              <!-- Mac AppStore 
										<a href="#" class="store">
											<img class="mac-appstore" src="images/macstore.png" alt="macstore-badge" />
										</a> -->

              <!-- Microsoft Store  
										<a href="#" class="store">
											<img class="microsoft-original" src="images/microsoft.png" alt="microsoft-badge" />
										</a> -->
            </div>
          </div>
          <!-- END FOOTER STORE BADGES -->
        </div>
      </div>
    </div>
    <!-- END FOOTER CONTENT -->

    <!-- BOTTOM FOOTER -->
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="bottom-footer grey-color footer-copyright text-center">
          <p>&copy; 2009 - 2020 Novaro. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End container -->
</footer>
