<div class="iconGrid">
  <div class="iconContainer">
    <span class="flaticon-calendar"></span>
    <p>flaticon-calendar</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-clock"></span>
    <p>flaticon-clock</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-success"></span>
    <p>flaticon-success</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-internet"></span>
    <p>flaticon-internet</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-error"></span>
    <p>flaticon-error</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-photo-camera"></span>
    <p>flaticon-photo-camera</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-plus"></span>
    <p>flaticon-plus</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-like"></span>
    <p>flaticon-like</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-music-player"></span>
    <p>flaticon-music-player</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-user"></span>
    <p>flaticon-user</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-file-1"></span>
    <p>flaticon-file-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-share"></span>
    <p>flaticon-share</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-home"></span>
    <p>flaticon-home</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-settings"></span>
    <p>flaticon-settings</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-users"></span>
    <p>flaticon-users</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-origami"></span>
    <p>flaticon-origami</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-diamond"></span>
    <p>flaticon-diamond</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-home-1"></span>
    <p>flaticon-home-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-bell"></span>
    <p>flaticon-bell</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-menu"></span>
    <p>flaticon-menu</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-flag"></span>
    <p>flaticon-flag</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-bookmark"></span>
    <p>flaticon-bookmark</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-wifi"></span>
    <p>flaticon-wifi</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-trash"></span>
    <p>flaticon-trash</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-battery"></span>
    <p>flaticon-battery</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-folder"></span>
    <p>flaticon-folder</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-layers"></span>
    <p>flaticon-layers</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-target"></span>
    <p>flaticon-target</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-adjust"></span>
    <p>flaticon-adjust</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-download"></span>
    <p>flaticon-download</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-menu-1"></span>
    <p>flaticon-menu-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-price"></span>
    <p>flaticon-price</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-app"></span>
    <p>flaticon-app</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-bell-1"></span>
    <p>flaticon-bell-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-smartphone"></span>
    <p>flaticon-smartphone</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-filter"></span>
    <p>flaticon-filter</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-download-1"></span>
    <p>flaticon-download-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-music"></span>
    <p>flaticon-music</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-mail"></span>
    <p>flaticon-mail</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-adjust-1"></span>
    <p>flaticon-adjust-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-radar"></span>
    <p>flaticon-radar</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-control"></span>
    <p>flaticon-control</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-adjust-2"></span>
    <p>flaticon-adjust-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-help"></span>
    <p>flaticon-help</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-bookmark-1"></span>
    <p>flaticon-bookmark-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-cd"></span>
    <p>flaticon-cd</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-adjust-3"></span>
    <p>flaticon-adjust-3</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-speaker"></span>
    <p>flaticon-speaker</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-photo-camera-1"></span>
    <p>flaticon-photo-camera-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-email"></span>
    <p>flaticon-email</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-email-1"></span>
    <p>flaticon-email-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-message"></span>
    <p>flaticon-message</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-wallet"></span>
    <p>flaticon-wallet</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-man"></span>
    <p>flaticon-man</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-user-1"></span>
    <p>flaticon-user-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-comment"></span>
    <p>flaticon-comment</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-comment-1"></span>
    <p>flaticon-comment-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-pencil"></span>
    <p>flaticon-pencil</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-typography"></span>
    <p>flaticon-typography</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-focus"></span>
    <p>flaticon-focus</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-idea"></span>
    <p>flaticon-idea</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-folder-2"></span>
    <p>flaticon-folder-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-magnifying-glass"></span>
    <p>flaticon-magnifying-glass</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-zip-format"></span>
    <p>flaticon-zip-format</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-folder-3"></span>
    <p>flaticon-folder-3</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-pins"></span>
    <p>flaticon-pins</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-pins-1"></span>
    <p>flaticon-pins-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-checked"></span>
    <p>flaticon-checked</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-list"></span>
    <p>flaticon-list</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-file-2"></span>
    <p>flaticon-file-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-notes"></span>
    <p>flaticon-notes</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-trash-1"></span>
    <p>flaticon-trash-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-layout"></span>
    <p>flaticon-layout</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-ui"></span>
    <p>flaticon-ui</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-adjust-4"></span>
    <p>flaticon-adjust-4</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-tap"></span>
    <p>flaticon-tap</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-diploma"></span>
    <p>flaticon-diploma</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-safe"></span>
    <p>flaticon-safe</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-key"></span>
    <p>flaticon-key</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-piggy-bank"></span>
    <p>flaticon-piggy-bank</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-coin"></span>
    <p>flaticon-coin</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-startup"></span>
    <p>flaticon-startup</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-lock"></span>
    <p>flaticon-lock</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-locked"></span>
    <p>flaticon-locked</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-unlocked"></span>
    <p>flaticon-unlocked</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-disk"></span>
    <p>flaticon-disk</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-mouse-1"></span>
    <p>flaticon-mouse-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-mouse"></span>
    <p>flaticon-mouse</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-customer-support"></span>
    <p>flaticon-costumer-support</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-telemarketer"></span>
    <p>flaticon-telemarketer</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-language"></span>
    <p>flaticon-language</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-coding"></span>
    <p>flaticon-coding</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-roundabout"></span>
    <p>flaticon-roundabout</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-add"></span>
    <p>flaticon-add</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-sound"></span>
    <p>flaticon-sound</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-fullscreen"></span>
    <p>flaticon-fullscreen</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-eye"></span>
    <p>flaticon-eye</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-up-arrow"></span>
    <p>flaticon-up-arrow</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-right-arrow"></span>
    <p>flaticon-right-arrow</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-key-1"></span>
    <p>flaticon-key-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-data"></span>
    <p>flaticon-data</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-stop"></span>
    <p>flaticon-stop</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-search"></span>
    <p>flaticon-search</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-star"></span>
    <p>flaticon-star</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-harddisk"></span>
    <p>flaticon-harddisk</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-globe"></span>
    <p>flaticon-globe</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-harddisk-1"></span>
    <p>flaticon-harddisk-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-notification"></span>
    <p>flaticon-notification</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-fingerprint"></span>
    <p>flaticon-fingerprint</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-code"></span>
    <p>flaticon-code</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-adjust-5"></span>
    <p>flaticon-adjust-5</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-inbox"></span>
    <p>flaticon-inbox</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-comment-2"></span>
    <p>flaticon-comment-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-mobile-camera"></span>
    <p>flaticon-mobile-camera</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-foreground"></span>
    <p>flaticon-foreground</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-square"></span>
    <p>flaticon-square</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-pencil-1"></span>
    <p>flaticon-pencil-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-server"></span>
    <p>flaticon-server</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-pen"></span>
    <p>flaticon-pen</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-server-1"></span>
    <p>flaticon-server-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-keypad"></span>
    <p>flaticon-keypad</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-monitor"></span>
    <p>flaticon-monitor</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-user-2"></span>
    <p>flaticon-user-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-inbox-1"></span>
    <p>flaticon-inbox-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-list-1"></span>
    <p>flaticon-list-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-ebook"></span>
    <p>flaticon-ebook</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-calendar-1"></span>
    <p>flaticon-calendar-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-files-and-folders"></span>
    <p>flaticon-files-and-folders</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-repeat"></span>
    <p>flaticon-repeat</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-upload"></span>
    <p>flaticon-uploaad</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-curved-arrow"></span>
    <p>flaticon-curved-arrow</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-document"></span>
    <p>flaticon-document</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-oval"></span>
    <p>flaticon-oval</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-storage"></span>
    <p>flaticon-storage</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-worldwide"></span>
    <p>flaticon-worldwide</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-files-and-folders-1"></span>
    <p>flaticon-files-and-folders-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-tray"></span>
    <p>flaticon-tray</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-cloud"></span>
    <p>flaticon-cloud</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-sun"></span>
    <p>flaticon-sun</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-cloudy"></span>
    <p>flaticon-cloudy</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-umbrella"></span>
    <p>flaticon-umbrella</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-wind-socket"></span>
    <p>flaticon-wind-socket</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-rainy"></span>
    <p>flaticon-rainy</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-rainy-1"></span>
    <p>flaticon-rainy-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-snowflake"></span>
    <p>flaticon-snowflake</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-umbrella-1"></span>
    <p>flaticon-umbrella-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-wind"></span>
    <p>flaticon-wind</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-tornado"></span>
    <p>flaticon-tornado</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-cold"></span>
    <p>flaticon-cold</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-calendar-2"></span>
    <p>flaticon-calendar-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-calendar-3"></span>
    <p>flaticon-calendar-3</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-focus-1"></span>
    <p>flaticon-focus-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-user-3"></span>
    <p>flaticon-user-3</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-database"></span>
    <p>flaticon-database</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-jigsaw"></span>
    <p>flaticon-jigsaw</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-gallery"></span>
    <p>flaticon-gallery</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-file"></span>
    <p>flaticon-file</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-calculator"></span>
    <p>flaticon-calculator</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-alarm-clock"></span>
    <p>flaticon-alarm-clock</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-network"></span>
    <p>flaticon-network</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-price-tag"></span>
    <p>flaticon-price-tag</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-light-bulb"></span>
    <p>flaticon-light-bulb</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-pantone"></span>
    <p>flaticon-pantone</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-roller"></span>
    <p>flaticon-roller</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-manufacturing"></span>
    <p>flaticon-manufacturing</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-lock-1"></span>
    <p>flaticon-lock-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-compass"></span>
    <p>flaticon-compass</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-block"></span>
    <p>flaticon-block</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-dotted-line"></span>
    <p>flaticon-dotted-line</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-clip"></span>
    <p>flaticon-clip</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-yard"></span>
    <p>flaticon-yard</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-cone"></span>
    <p>flaticon-cone</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-cut"></span>
    <p>flaticon-cut</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-sent"></span>
    <p>flaticon-sent</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-brush"></span>
    <p>flaticon-brush</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-screw"></span>
    <p>flaticon-screw</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-stamp"></span>
    <p>flaticon-stamp</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-money"></span>
    <p>flaticon-money</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-home-2"></span>
    <p>flaticon-home-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-tea-cup"></span>
    <p>flaticon-tea-cup</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-coffee-cup-1"></span>
    <p>flaticon-coffee-cup-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-coffee-cup"></span>
    <p>flaticon-coffee-cup</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-key-2"></span>
    <p>flaticon-key-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-server-2"></span>
    <p>flaticon-server-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-add-to-basket"></span>
    <p>flaticon-add-to-basket</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-application"></span>
    <p>flaticon-application</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-credit-card"></span>
    <p>flaticon-credit-card</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-picture"></span>
    <p>flaticon-picture</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-crop"></span>
    <p>flaticon-crop</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-crop-1"></span>
    <p>flaticon-crop-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-email-2"></span>
    <p>flaticon-email-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-message-1"></span>
    <p>flaticon-message-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-comment-3"></span>
    <p>flaticon-comment-3</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-comment-4"></span>
    <p>flaticon-comment-4</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-voice-message"></span>
    <p>flaticon-voice-message</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-whatsapp"></span>
    <p>flaticon-whatsapp</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-mail-1"></span>
    <p>flaticon-mail-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-comment-5"></span>
    <p>flaticon-comment-5</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-selfie"></span>
    <p>flaticon-selfie</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-cartridge"></span>
    <p>flaticon-cartridge</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-shutter"></span>
    <p>flaticon-shutter</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-viewfinder"></span>
    <p>flaticon-viewfinder</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-video-player"></span>
    <p>flaticon-video-player</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-hd"></span>
    <p>flaticon-hd</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-diskette"></span>
    <p>flaticon-diskette</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-video-player-1"></span>
    <p>flaticon-video-player-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-download-2"></span>
    <p>flaticon-download-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-upload-1"></span>
    <p>flaticon-upload-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-pen-1"></span>
    <p>flaticon-pen-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-target-1"></span>
    <p>flaticon-target-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-target-2"></span>
    <p>flaticon-target-2</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-development"></span>
    <p>flaticon-development</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-gearshift"></span>
    <p>flaticon-gearshift</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-folder-1"></span>
    <p>flaticon-folder-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-internet-1"></span>
    <p>flaticon-internet-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-heart"></span>
    <p>flaticon-heart</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-left-arrow"></span>
    <p>flaticon-left-arrow</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-right-arrow-1"></span>
    <p>flaticon-right-arrow-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-up-arrow-1"></span>
    <p>flaticon-up-arrow-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-memory-card"></span>
    <p>flaticon-memory-card</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-streaming"></span>
    <p>flaticon-streaming</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-arrows"></span>
    <p>flaticon-arrows</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-down-arrow"></span>
    <p>flaticon-down-arrow</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-signal"></span>
    <p>flaticon-signal</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-orientation"></span>
    <p>flaticon-orientation</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-bass"></span>
    <p>flaticon-bass</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-diagonal"></span>
    <p>flaticon-diagonal</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-usb"></span>
    <p>flaticon-usb</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-alert"></span>
    <p>flaticon-alert</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-expand"></span>
    <p>flaticon-expand</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-id-card"></span>
    <p>flaticon-id-card</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-smartwatch-1"></span>
    <p>flaticon-smartwatch-1</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-charger"></span>
    <p>flaticon-charger</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-apps"></span>
    <p>flaticon-apps</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-smartwatch"></span>
    <p>flaticon-smartwatch</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-batteries"></span>
    <p>flaticon-batteries</p>
  </div>
  <div class="iconContainer">
    <span class="flaticon-socket"></span>
    <p>flaticon-socket</p>
  </div>
</div>
