span::before {
  font-size: xx-large !important;
}
div.iconGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  div.iconContainer {
    border: 1px solid black;
    height: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #aed4eecb;
      transform: translateY(-10px);
    }
  }
}
