<section id="features-7" class="bg-lightgrey wide-60 features-section division">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="section-title mb-80">
          <h2 class="h2-xs deepblue-color">Jelpy te ayuda a conectar con tus negocios favoritos</h2>
          <p class="p-xl">
            Encuentra tu restaurante favorito o tu negocio de confianza al alcance de tu mano, facil
            y rapido. Desde comida rapida, hasta doctores, electricistas y mucho, mucho mas.
          </p>
        </div>
      </div>
    </div>
    <div class="fbox-7-holder text-center">
      <div class="row">
        <div *ngFor="let data of benefits" class="col-sm-6 col-lg-3">
          <div class="fbox-7 pc-25 mb-40 wow fadeInUp" [attr.data-wow-delay]="data.delay">
            <div class="fbox-7-ico grey-color ico-75"><span [class]="data.icon"></span></div>
            <h5 class="h5-md deepblue-color">{{ data.title }}</h5>
            <p class="grey-color">{{ data.info }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
